# 项目相关配置
xiangying:
  # 名称
  name: XiangYing
  # 版本
  version: 1.0

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 30